
label{
    margin-left: 4rem;
    margin-right: 0.4rem;
}

.answerMargin {
    margin-left: 2.2rem;
}

input[type=number] {
    width: 40px;
}

.question {
    text-align: initial;
    margin-left: 2rem;
}

.button {
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: block;
    color: #e6f5ec;
    background-color: #136433;
}

.answers_ul {
    list-style: none;
    margin: 0;
    margin-left: 2rem;
    padding: 0;
}

#change {
    width: 60px;
}

.infoLabel{
    margin: 0;
}

.content {
    background-color: #e6f5ec;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
