.text {
    color: #136433;
    font-family: monospace;
    font-weight: 900;
    font-size: 1.3rem;
}

.question {
    color: #136433;
    font-family: monospace;
    font-weight: 900;
    font-size: 1.6rem;
    text-align: center;
}

.answers {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}