.text {
    color: #8fc9a6;
    font-family: 'Leelawadee UI';
    font-weight: 500;
    font-size: 1.3rem;
    text-align: justify;
}

.question {
    color: #136433;
    font-family: 'Leelawadee UI';
    font-weight: 600;
    font-size: 1.45rem;
    text-align: center;
}

.footerText {
    font-family: monospace;
    width: 100%;
    font-weight: 600;
    color: #8fc9a6;
    font-size: 1.1rem;
}


.answers {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}