#talkWithUs {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
}

#whatsappLogo {
    width: 7vw;
    height: auto;
    position: center;
}


#logo {
    width: auto;
    height: 7rem;
    float: left;
    border-radius: 30px;
    position: fixed;
    margin-left: 2rem;
    margin-top: 2.5rem;
    z-index: 99;
    border-style: double;
    border-color: #8fc9a6;
    border-width: 0.4rem;
}

#menu {
    position: fixed;
    margin-top: 5rem;
    width: inherit;
    background-color: #000;
    border-style: double;
    border-left-style: none;
    border-color: #8fc9a6;
    border-width: 0.4rem;
}

#site{
    width: 100%;
    height: 100%;
    margin: 0;
}

.menu_ul {
    list-style: none;
    margin: 0;
    margin-left: 12rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
}

a{
    text-decoration: none;
}

.menu_item {
    display: inline-block;
    margin-right: 1.5rem;
}

.menu_item:first-child{
    margin-left: 2rem;
    margin-right: 1.5rem;
    float: left;
}

section{
    width: 100%;
    height: 100vh;
}

.section_background_image{
    width: 100%;
    height: inherit;
}

.closed {
    display: none;
}


.menu_text {
    color: #136433;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.7rem;
}
